HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# Archivos de configuración local
/application.properties
/application.yml

# Carpeta de archivos generados
/target/

# Archivos de dependencias y librerías
*.jar
*.war

# Archivos de log
*.log

# Archivos temporales
*.tmp
*.swp

# Archivos IDE y configuraciones de proyecto
.idea/
.classpath
.project
.settings/
*.iml
*.ipr
*.iws

# Carpetas de entorno de compilación
/build/
/bin/
/out/

# Archivos de caché
.gradle/
.m2/
