<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Mi Ticket</title>
    <link rel="stylesheet" type="text/css" href="../static/pdf-resources/css/ticketPdfStyle.css">
</head>
<body>
<div>
    <img src="../static/img/logoSafarity2.png" alt="logo" class="logo">
</div>

<h1>TICKET:</h1>

<table class="campos-ticket">
    <thead>
    <tr>
        <th>Aporte</th>
        <th>Fecha</th>
        <th>Participante</th>
        <th>Evento</th>
    </tr>
    </thead>
    <tr>
        <td>
            <p>Aporte: <span th:text="${ticket.dineroAportado}"></span></p>
        </td>
        <td>
            <p>Fecha: <span th:text="${ticket.fecha}"></span></p>
        </td>
        <td>
            <p>Participante: <span th:text="${ticket.participanteDTO}"></span></p>
        </td>
        <td>
            <p>Evento: <span th:text="${ticket.eventoDTO}"></span></p>
        </td>
    </tr>
    <tr th:each="ticketDTO : ${ticketDTOs}">
        <td>
            <p>Aporte: <span th:text="${ticketDTO.dineroAportado}"></span></p>

        </td>
        <td>
            <p>Fecha: <span th:text="${ticketDTO.fecha}"></span></p>
        </td>
        <td>
            <p>Participante: <span th:text="${ticketDTO.participante}"></span></p>
        </td>
        <td>
            <p>Evento: <span th:text="${ticketDTO.eventoDTO}"></span></p>
        </td>
    </tr>
</table>
</body>
</html>
